@import "../../color-style";
.home__container{
  display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100vh;
}
.home__col1{

  background-color: $gray6;
}
.home__col2{
  background-color: $gray1;
}