@import "../../color-style";

.home {
  background-color: $gray6;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 24px;
}

.home__col1 {
  background-color: $gray6;
}

.home__col2 {
  background-color: $gray6;
}

.home__block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home__h1{
  //font-family: Roboto;
  font-size: 24px;

}
.home__block2{
  margin-top: 24px;
}