//Переменные цвета
$gray1:#333333;
$gray5:#E0E0E0;
$gray6:#F2F2F2;
$white:#FFFFFF;
$blue1:#2F80ED;
$blue2:#2D9CDB;
$blue3:#56CCF2;

//Scheme Color Danone Logo Color Scheme
$dark-blue:#324BAA;
$light-blue1:#11ACED;
$light-blue2:#89C8F2;
$light-blue3:#5BB5E9;
$light-blue4:#4CABE4;

